
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
}

html, body {
    overflow: hidden;
}

#root {
    overflow: auto;
}



.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}



.pieTranslate {

    animation: 2.6s cubic-bezier(0.71, -0.29, 0.96, 0.9) 0s 1 normal forwards running spin,
    0.75s linear 2.6s 1 normal forwards running continueSpin,
    8s cubic-bezier(0, 0, 0.35, 1.02) 3.35s 1 normal forwards running stopSpin
}

/* CSS */
@keyframes spin {
    from {
        transform:translate(-50%, -50%) rotate(0);
    }
    to {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes spin {
    0% {
        transform: rotate(88.8132deg)
    }
    100% {
        transform: rotate(448.813deg);

    }
}


@keyframes continueSpin {
    0% {
        transform: rotate(88.8132deg)
    }
    100% {
        transform: rotate(448.813deg);

    }
}
@keyframes stopSpin {
    0% {
        transform: rotate(88.8132deg)
    }
    100% {
        transform: rotate(448.813deg);

    }
}

/*


rotate(-137.493deg)√

*/